@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');
  margin-bottom: 20px;
}

.snap-btn {
  display: inline-block;
  margin-top: 30px;
  background: black;
  color: gold;
  padding: 18px 40px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

footer {
  background: black;
  text-align: center;
  padding: 50px;
}

footer h3 {
  font-size: 36px;
  color: gold;
}

footer p {
  color: #999;
  margin: 15px 0;
}

.socials a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

@media(max-width: 768px) {
  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 18px;
  }

  .text h2,
  .features h2,
  .gallery h2,
  .map-section h2,
  .snapchat h2 {
    font-size: 36px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}
